.reviewItem {
    margin-bottom: 20px;
    border: 1px solid rgba(255,107,10);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    list-style: none;
    margin-right: 0px;
    
  }

  .reviewList {
    padding: 0;
    margin-right: 20px;
    margin-left: 20px;
}
.authorName {
    font-size: 16px;
    margin-bottom: 5px;
  }
  