.mDContainer {
    padding-left: 20px;
  }

  .additionalInfo{
    padding: 0;
  }

  .additional{
    display: flex;
    justify-content: center;
    margin-left: 51px;
  }
  
  .wrapper {
    display: flex;
    gap: 10px;
  }
  
  .movieInfo {
    padding: 10px;
  }
  
  .additionalInfo {
    margin-top: 10px;
    border-top: 3px solid rgba(255,107,10);
    border-bottom: 3px solid rgba(255,107,10);
    padding-left: 0px;
  }
  
  .list {
    list-style: none;
    display: flex;
    column-gap: 24px;
    justify-content: center;
  }
  
  .listItem {
    text-decoration: none;
    border: 1px solid #8e8f99;
    border-color: rgba(255,107,10);
    color: rgba(255,107,10);
    cursor: pointer;
  font-size: 19px;
  font-weight: bold;
  width: 88px;
  border-radius: 10px;
  display: flex;
  padding: 7px 4px;
  justify-content: center;
  }


  .listItem:hover,
  .listItem:focus {
    background-color: rgba(255,107,10);
    color: #fff;
    border-color: rgba(255,107,10);
  }
  
  .btn {
    padding: 8px;
    width: 88px;
    border: 1px solid #8e8f99;
    border-radius: 10px;
    border-color: rgba(255,107,10);
    background-color: #fff;
    color: rgba(255,107,10);
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
    
  }
  .btn:hover,
  .btn:focus {
    background-color: rgba(255,107,10);
    color: #fff;
    border-color: rgba(255,107,10);
  }