.moviesContainer {
    padding-left: 20px;
  }
  
  .searchInput {
    outline:none;
    border: none;
    padding: 8px;
    border: 1px solid rgba(255,107,10);
    width: 250px;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 18px;

  }

  
  .btn {
    padding: 8px;
    width: 88px;
    border: 1px solid #8e8f99;
    border-radius: 10px;
    border-color: rgba(255,107,10);
    background-color: #fff;
    color: rgba(255,107,10);
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
  }
  .btn:hover,
  .btn:focus {
    background-color: rgba(255,107,10);
    color: #fff;
    border-color: rgba(255,107,10);
  }
  
  .resultsContainer {
    margin-top: 20px;
  }
  
  .resultsList {
    list-style: none;
    padding: 0;
  }
  
  .resultsListItem {
    margin-top: 5px;
  }
  .movieLink {
    text-decoration: none;
    color: black;
    font-size: 18px;
  }
  .movieLink:hover {
    text-decoration: underline;
    color: rgba(255,107,10);
    border-radius: 4px;
  }