.moviesListContainer {
    padding-left: 20px;
  }
  
  .movieList {
    list-style: none;
    padding: 0;
  }
  .movieItem {
    margin-bottom: 10px;
  }
  .movieLink {
    padding-left: 5px;
    text-decoration: none;
    color: black;
    font-size: 18px;
  }
  .movieLink:hover {
    color: rgba(255,107,10);
    transition: 0.5s;
    border-radius: 4px;
  }