.header {
    display: flex;
    gap: 20px;
    padding: 10px 20px;
    margin: 0;
    list-style: none;
    border-bottom: 3px solid #e7e9fc;
  }
  
  .header li {
    margin: 0;
  }
  
  .header .active {
    color: #ff5733;
  }
  
  .header a {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    transition: color 0.2s;
    text-decoration: none;
  }
  
  .header a:hover {
    color: #ff5733;
  }