.header {
    display: flex;
    gap: 20px;
    padding: 10px 20px;
    margin: 0;
    list-style: none;
    border-bottom: 3px solid rgba(255,107,10);
    background-color: rgb(0, 0, 255);
  }
  
  .header li {
    margin: 0;
  }
  
  .header .active {
    color: rgba(255,107,10);
  }
  
  .header a {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    transition: color 0.2s;
    text-decoration: none;
  }
  
  .header a:hover {
    color: rgba(255,107,10);
  }